.background-gunung {
    background-image: url('../img/back-surat.jpg');
    background-position: 50% 30%;
    position: relative;
    background-size: cover;
}

.background-gunung::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 36, 76, 0.2), rgba(0, 61, 129, 0.5));
    pointer-events: none;
}

.pdf-container {
    background: linear-gradient(#003d81, #000d1b);
    padding: 30px;
    border-radius: 15px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
}

.pdf-container img {
    width: 90px;
    margin-bottom: 10px;
}

.pdf-container p {
    margin-bottom: 0;
    color: #fff;
    font-family: 'Poppins', 'sans-serif';
}

.swiper {
    max-width: 900px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination {
    position: initial !important;
    margin-top: 10px;
}

.more-info-btn {
    display: inline-block;
    padding: 12px 24px;
    background: linear-gradient(135deg, #001f3f, #004080); /* Navy blue gradient background */
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

button {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
}

.alert-custom {
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
}
